[Desktop Entry]
Name=Minimalist Animated Weather
Name[ar]=Minimalist Animated Weather
Name[de]=Minimalist Animated Weather
Name[es]=Minimalist Animated Weather
Name[fr]=Minimalist Animated Weather
Name[ja]=Minimalist Animated Weather
Name[nl]=Minimalist Animated Weather
Name[pt]=Minimalist Animated Weather
Name[ru]=Minimalist Animated Weather
Name[tr]=Minimalist Animated Weather
Name[vi]=Minimalist Animated Weather
Name[zh_CN]=Minimalist Animated Weather

Comment=An animated weather widget for KDE Plasma 6.
Comment[ar]=أداة طقس متحركة لـ KDE Plasma 6.
Comment[de]=Ein animiertes Wetter-Widget für KDE Plasma 6.
Comment[es]=Un widget de clima animado para KDE Plasma 6.
Comment[fr]=Un widget météo animé pour KDE Plasma 6.
Comment[ja]=KDE Plasma 6 用のアニメーション化された天気ウィジェット。
Comment[nl]=Een geanimeerde weerwidget voor KDE Plasma 6.
Comment[pt]=Um widget de clima animado para o KDE Plasma 6.
Comment[ru]=Анимированный виджет погоды для KDE Plasma 6.
Comment[tr]=KDE Plasma 6 için animasyonlu bir hava durumu widget'ı.
Comment[vi]=Một widget thời tiết sinh động cho KDE Plasma 6.
Comment[zh_CN]=一个适用于 KDE Plasma 6 的动画化天气小组件。

Type=Service
Icon=weather-clouds
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Name=com.github.samy879.minimalist-animated-weather
X-KDE-PluginInfo-Keywords=Weather;Meteo;Météo;Forecast;Animated;Minimalist;Widget;Plasma;

X-KDE-PluginInfo-Author=Samy879
X-KDE-PluginInfo-Email=samy.rk800@gmail.com
X-KDE-PluginInfo-Version=1.0.7
X-KDE-PluginInfo-Website=https://github.com/Samy879/minimalist-animated-weather
X-KDE-PluginInfo-Category=Weather
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-EnabledByDefault=true
